section {
    width: 100%;
}

.army__shop {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 3rem;
    margin-top: 2rem;
}

.btn-buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__buy-img {
    width: 20px;
    height: 20px;
}