.render__message {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.card__inventory {
    margin-top: 2rem;
}

.card__inventory:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .5);
}